
body {
  font-family: Roboto, sans-serif;
  font-size:21px;
}

.hero {
  background-color:#23424A;
  color:white;
  padding: 50px 0;
}

.hero__text {
  width:60%;
}

.hero p {
  margin-bottom:40px;
}

.container {
  width:85%;
  margin: 0 auto;
  max-width:1000px;
}

h1 {
  font-size:48px;
}

.btn {
  display:inline-block;
  background-color:#38CFD9;
  color:#136C72;
  padding:10px 16px;
  border-radius:20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight:900;
}